In [1]:
import numpy as np
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt

In [2]:
#подготовка данных
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t' )

In [3]:
#1. Вывести: кол-во наблюдений в датасете
size = data.shape[0]
print(size)

4622

In [4]:
#2. Вывести названия столбцов
names = data.columns
print(names)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [19]:
#3. Определить самую частую позицию (item) в заказе
data['item_name'].value_counts().idxmax()

'Chicken Bowl'

In [ ]:
#4. Построить гистрограмму частоты заказов по позициям (item)

In [17]:
#5. Измените тип переменной item_price с помощью лямбды функции
data.apply(lambda x: float(x['item_price'].replace('$', '')),axis=1)
data.head(5)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [ ]:
#6. Построить гистограмму кол-во денег заработанных по каждой позиции (item)

In [ ]:
#7. Средняя сумма заказа? (минимум 2 способа)

In [ ]:
#8. Выведите среднее, минимальное и максимальное, медианное значения позиций в заказе

In [ ]:
#9. Определить статистику заказов стейков, а также статистику заказов прожарки

In [ ]:
#10. Добавить новый столбец цен на каждую позицию в заказе в рублях

In [ ]:
#11. Сгруппировать заказы по входящим позициям в него. Отдельно сгруппировать по стейкам во всех видах прожарках

In [ ]:
#12. Определить цену по каждой позиции в отдельности